<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaseMaker | Search</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="col-md-10 col-md-offset-1">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CaseMaker</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="form" action="search" method="get">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for models" name="breed">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            <input type="search" class="form-control" id="search" placeholder="Search for a case">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <div class="thumbnail">
          <img src="../static/images/uPhone/01.JPG" />
          <div class="caption">
            <h3>Case Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            <a href="view?type=uphone&color=1"><button class="btn btn-primary" role="ticket">Details</button></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../static/images/manDroid/02.JPG" />
          <div class="caption">
            <h3>Case Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            <a href="view?type=mandroid&color=2"><button class="btn btn-primary" role="ticket">Details</button></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../static/images/blueberry/03.JPG" />
          <div class="caption">
            <h3>Case Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            <a href="view?type=blueberry&color=3"><button class="btn btn-primary" role="ticket">Details</button></a>
          </div>
        </div>
      </div>
    </div>

  <!-- <script type="text/javascript" src="../static/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="../static/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/holder.js"></script> -->
    <script src="{{ url_for('static', filename='jquery-1.10.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='holder.js') }}"></script>
  </body>
</html>